<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon matListItemIcon>explore</mat-icon>
        <span matListItemTitle>Discover</span>
      </a>
      <a mat-list-item>
        <mat-icon matListItemIcon>place</mat-icon>
        <span matListItemTitle>My Places</span>
      </a>
      <a mat-list-item>
        <mat-icon matListItemIcon>favorite</mat-icon>
        <span matListItemTitle>Favorites</span>
      </a>
      <a mat-list-item>
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
